# gitignore file for freepascal/lazarus project

# ignore "ton of crap" folder
backup/*

# ignore binaries
lib/*
JakOmlette

# ignore backups
*~
**/*~

# ignore swap files and other stuff
*.swp
**/*.swp
\#*\#
**/\#*\#
*.bak
**/*.bak
