# gitignore file for freepascal/lazarus project

# ignore "ton of crap" folder
backup
backup/*

# ignore binaries
bin
bin/*
lib
lib/*
JakOmlette
*.exe
*.dbg
*.pdb

# ignore backups
*~
**/*~

# ignore swap files and other stuff
*.swp
**/*.swp
\#*\#
**/\#*\#
*.bak
**/*.bak
*.log
**/*.log
